body {
    background-color: #232946;
}

p {
    color: #b8c1ec;
    font-size:20px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

h1 {
    color: #fffffe;
    font-size:35px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}

.center-container {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    height: 100vh; /* Set container height to 100% of viewport height */
    text-align: center; /* Center text content */
}

.custome-button {
    background-color: #eebbc3;
    color: #232946;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.title {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    height: 20vh; /* Set container height to 100% of viewport height */
    text-align: center; /* Center text content */
}


form {
    text-align: left;
}
input#id_first_name{
    margin-left: 36px;
}
input#id_last_name{
    margin-left: 39px;
}
input#id_email{
    margin-left: 79px;
}
input#id_phone{
    margin-left: 77px;
}
input#id_identification{
    margin-left: 10px;
}
input#id_province{
    margin-left: 57px;
}
input#id_city{
    margin-left: 100px;
}
input#id_street_name{
    margin-left: 30px;
}
input#id_house_number{
    margin-left: 5px;
}
input#id_postal_code{
    margin-left: 35px;
}

