
{% extends "registration/base.html" %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/teller.css' %}">
    {% endblock %}
    <title>Document</title>
</head>
<body>

{% block content %}
<div class="center-title">
    <h1>Teller</h1>
</div>

<div class="teller">
    <p>Hello, welcome to the teller page. <br> 
        to validate the account please enter the account number <br>
        and click in Check account.</p>
</div>

<div class="center-container">
    
    <div class="inside conrainer">
        <form method="post" action="{% url 'banco_america:teller' %}">
            {% csrf_token %}
            {{ account_form.as_p }}
            <a href="{% url 'banco_america:home' %}" class="custome-button">Home</a>
            <button type="submit" class="custome-button">Check Account</button>
            
        </form>
        
        {% if account_number %}
            {% if account_exists %}
                <p>Yes, account exists</p>
        
                <a href="{% url 'banco_america:deposit_cash' %}" class="custome-button">Deposit Cash</a>
        
                <a href="{% url 'banco_america:withdraw_cash' %}" class="custome-button">Withdraw Cash</a>
            {% else %}
                <p>No, account does not exist</p>
            {% endif %}
        {% endif %}

    </div>
</div>
{% endblock %}
</body>
</html>




