
{% extends "registration/base.html" %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/success.css' %}">
    {% endblock %}
    <title>Document</title>
</head>
<body>

{% block content %}
<div class="center-title">
    <h1>The transaction was successful</h1>
</div>

<div class="center-container">
    <div class="inside conrainer">
        <p>Client Name: {{ name }} {{ last_name }}</p>
        <p>Account Number: {{ account_number }}</p>
        <p>Account Balance: ${{ account_balance }}</p>

        
        <a href="{% url 'banco_america:home' %}" class="custome-button">Home</a>
        <a href="{% url 'banco_america:teller' %}" class="custome-button">Teller Page</a>
        
    </div>
</div>
{% endblock %}
</body>
</html>